body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
.span-header {
  color: #2e2f42;
}
.span-footer {
  color: #f4f4fd;
}
.logo:hover span,
.logo:focus span {
  color: #404bbf;
}
a:hover,
a:focus {
  color: #404bbf;
}



.navi-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.contacts {
    color:#434455;
    
}
.solutions {
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team .head {
  text-transform: capitalize;
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.team {
  background-color: #f4f4fd;
}
.team .title {
  text-transform: capitalize;
}
.team .head {
  text-align: center;
}
.team .text {
  text-align: center;
  font-size: 16px;
}
.empl-box {
  background-color: #fff;
}
.portfolio .title {
  text-transform: capitalize;
}
.footer {
  background-color: #2e2f42;
}
.text-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
